/*
* MLMI Builder
*/

.mlmi-builder-row {
  padding-right: 2px !important;
}

.mlmi-builder-row > .acf-label {
  display: none;
}

.mlmi-builder-row .layout {
  border: 3px solid #abc !important;
  border-radius: 3px;
  overflow: hidden;
}

.mlmi-builder-row .layout > .acf-fc-layout-handle {
  background: #abc !important;
  color: #fff !important;
}

.mlmi-builder-row .layout .layout > .acf-fc-layout-handle {
  background: rgba(170, 187, 204, 0.5) !important;
  color: #555 !important;
}

.mlmi-builder-row .acf-hl .acf-add-checkbox {
  margin-top: 0 !important; 
}

.mlmi-builder-row th.acf-th,
.mlmi-builder-row .acf-label label,
.mlmi-builder-section .acf-label label {
  text-transform: uppercase;
  position: relative;
  top: 1;
  font-size: 11px;
  font-weight: 600 !important;
  letter-spacing: .075em;
}

.mlmi-builder-section .acf-label,
.mlmi-builder-row .acf-label {
  margin-bottom: 0 !important;
}

.mlmi-builder-row th.acf-th {
  padding: 4px 8px;
}

.mlmi-builder-section .acf-fields>.acf-field {
  padding: 5px 9px 7px !important;
  border: 0 !important;
}

.mlmi-builder-section .acf-fields>.acf-field.acf-field-code-row-field-shortcode {
  padding: 6px !important;
}

.mlmi-builder-section .acf-fields>.acf-field.acf-field-code-row-field-shortcode input[type='text'],
.mlmi-builder-section .acf-fields>.acf-field.acf-field-code-row-field-shortcode input[type='text']:focus {
  border: 0;
  outline: 0;
  box-shadow: none;
  text-align: center;
}

/*
*  Left aligned tabs
*/

.mlmi-builder-section .acf-fields.-sidebar {
  padding: 0 0 0 40px !important
}

.mlmi-builder-section .acf-fields.-sidebar:before {
  width: 40px !important;
}

.mlmi-builder-section .acf-tab-wrap.-left .acf-tab-group {
  width: 40px !important;
}

/*
*  Minimum height
*/

.acf-field-mlmi-builder-field-section-padding-bottom {
  min-height: 100px;
}

/*
*  Separator for repeater fields
*/

.acf-repeater.-row .acf-table > tbody > .acf-row > td,
.acf-repeater.-block .acf-table > tbody > .acf-row > td {
  border-top-width: 12px;
}

.acf-repeater.-row .acf-table > tbody > .acf-row:first-child > td,
.acf-repeater.-block .acf-table > tbody > .acf-row:first-child > td {
  border-top-width: 0;
}

.mlmi-builder-row .layout .acf-table > tbody > .acf-row > td {
  border-top-width: 5px;
}

/*
*  Other ACF helper classes
*/

.no-label.acf-field > .acf-label {
  display: none !important;
}

.centered-label.acf-field > .acf-label {
  margin-top: 7px !important;
}

.no-group {
  padding: 0 !important;
}

.no-group .acf-fields.-border {
  border: 0;
}

.switch-tmce,
.switch-html {
  border-radius: 3px;
}

.d-none {
  display: none;
}